<section data-bs-version="5.1" class="footer3 cid-u6ZF78TESB" once="footers" id="footer-6-u6ZF78TESB">
  <style>
    #footer-6-u6ZF78TESB {
      background: linear-gradient(#ffefb5, #fcdb3a);
      text-align: center;
      padding: 20px 0;
      margin-top: 50vh;
    }
    .header-menu-item a {
      color: black !important;
      font-family: "PT Serif", serif;
    }
    .copyright {
      font-family: "PT Serif", serif;
    }
    #footer-6-u6ZF78TESB .header-menu-item a {
    color: black !important;
    font-family: "PT Serif", serif;
    text-decoration: none !important;
    border: none !important;
    }


   
  </style>
 
  <div class="container">
    <div class="row">
      <div class="row-links">
        <ul class="header-menu">
          <li class="header-menu-item mbr-fonts-style display-5">
            <a href="/dashboard">Inicio</a>
          </li>
          <li class="header-menu-item mbr-fonts-style display-5">
            <a href="/acerca">Acerca</a>
          </li>
          <li class="header-menu-item mbr-fonts-style display-5">
            <a href="/contacto">Contacto</a>
          </li>
          <li class="header-menu-item mbr-fonts-style display-5">
            <a href="/terminos">Términos</a>
          </li>
        </ul>
      </div>
      <div class="col-12 mt-4">
        <p class="mbr-fonts-style copyright display-7">
          © 2024 CasualFryDays. Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
</section>









