<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Acerca de</title>
        <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="assets/dropdown/css/style.css">
        <link rel="stylesheet" href="assets/socicon/css/styles.css">
        <link rel="stylesheet" href="assets/theme/css/style.css">
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap"></noscript>
        <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=Wf9Ojj">
        <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=Wf9Ojj" type="text/css">
        <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
       
        <style>
            body {
                background-color: #ffffff;
                font-family: "PT Serif", serif;
            }
            .content-section {
                margin-top: 50px;
                margin-bottom: 80px;
                padding: 40px 20px;
                background-color: #ffffff00;
                border-radius: 10px;
            }
            .card {
                margin-bottom: 30px;
                border: none;
                background: linear-gradient(#ffefb5, #fcdb3a);
                padding: 25px;
                border-radius: 8px;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            }
            .card h2, .card h3 {
                font-size: 1.8rem;
                color: #000000;
            }

            .card ul {
                list-style-type: disc;
                margin-left: 20px;
                color: black;
            }

            .card p {
                font-size: 1.1rem;
                color: #000000;
            }

            .card .lead {
                font-size: 1.2rem;
                color: #000000;
            }

            .card .quote {
                font-style: italic;
                font-size: 1.1rem;
                color: #000000;
                margin-top: 30px;
                border-left: 4px solid #007bff;
                padding-left: 20px;
            }

            .content-section .container {
                text-align: left;
            }

            .card p, .card h2, .card h3, .card ul {
                text-align: left;
            }

            .mb-4 {
                font-size: 3.6rem;
            }
       
        </style>
    </head>


    <body>
        <%- include("../routes/header.ejs") %>


    <!-- Sección Acerca de -->
    <section class="content-section">
        <div class="container text-center">
            <h1 class="text-center mb-4"> <b>Acerca de Casual Fry-Days</b></h1>
            <div class="card">
                <h2>Bienvenido a Casual Fry-Days</h2>
                <p>Casual Fry-Days es una plataforma innovadora, diferente, transgresora. No es una red social más, es una red social para el trabajo y desde el trabajo. Casual Fry-Days nos inspira el contexto “del trabajo fuera del trabajo”; del ir con ropa menos formal los viernes, de tomar unas cañas con los compañeros después de acabar un proyecto,de no solo exponer los curriculums, formaciones y buscar trabajo </p>
                <p class="lead">El mostrar las anécdotas humanas de los trabajos, de las sesiones de paintball para levantar la moral, de las peleas por el mando del aire acondicionado en verano, los preparativos de las cenas de navidad.</p>
            </div>
            <div class="card">
                <h2>Misión de la Plataforma</h2>
                <p>La misión es tener un lugar donde crear eventos, quedadas, congresos, presentar ideas...Todo cabe, desde plasmar una idea de lo más formal para que las empresas se fijen en tú trabajo; hasta la más "simple" de las quedadas para celebrar el cumple de uno de nuestros compañeros. Todo cabe, sólo échale imaginación. Y si tienes nuevas ideas que aún no están implementadas en nuestra plataforma, puedes ponerte en contacto con nuestro admin y que fluya. Ésta red social es tuya y tú pones las reglas. </p>
            </div>
            <div class="card">
                <h3>¿Por qué elegir Casual Fry-Days?</h3>
                <ul>
                    <li>Acceso a una comunidad diferente.</li>
                    <li>Posibilidad de crear y compartir todo tipo de eventos.</li>
                    <li>Interacción en tiempo real con otros fryers a través de comentarios y reacciones.</li>
                    <li>Herramientas de personalización para que tu perfil sea único.</li>
                    <li>Explora contenido desde blogs, videos, hasta podcasts y artículos de interés.</li>
                </ul>
            </div>
            <div class="card">
                <h3>Nuestra Visión</h3>
                <p>Casual Fry-Days aspira a ser más que solo una plataforma de interacción social, aspiramos a cambiar las reglas. No queremos ser diferentes, SOMOS DIFERENTES. No queremos tener una visión o una misión; queremos tener TU VISIÓN y que nos digas tú MISIÓN.</p>
                <p class="quote">"Conectar, compartir y crear. Tú creas Casual Fry-Days, tú eres Casual Fry-Days, tú eres Fryer." – Equipo de Casual Fry-Days</p>
            </div>
            <div class="card">
                <p>Agradecemos tu apoyo y estamos seguro que vas a disfrutar de tu experiencia como Fryer. Recuerda:¡Tú pones las reglas!</p>
            </div>
        </div>
    </section>

    <!-- Scripts -->
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/ytplayer/index.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/vimeoplayer/player.js"></script>
    <script src="assets/masonry/masonry.pkgd.min.js"></script>
    <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="assets/theme/js/script.js"></script>
        <%- include("../routes/footer.ejs") %>

    </body>
</html>
